.loader {
  background-color: var(--bg);
  color: var(--ink);
  fill: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 9999;

  svg {
    height: 8rem;
    width: 8rem;

    path {
      stroke: var(--ink) !important;
    }

    circle,
    polygon {
      fill: var(--ink) !important;
      stroke: none;
    }
  }
}
